@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@600&family=Pacifico&family=Lobster&family=Amatic+SC:wght@700&display=swap");
body {
  font-family: "Inter", sans-serif; /* Body text */
}

h1 {
  font-family: "Playfair Display", serif; /* Main title */
}

h2 {
  font-family: "Pacifico", cursive; /* Section title */
}

h3 {
  font-family: "Amatic SC", cursive; /* Subheading */
}

button {
  font-family: "Lobster", cursive; /* Buttons / branding */
}
